body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 10px;
  background-color: rgb(36, 36, 36);
  font-family: 'Nerko One', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 231, 207);
  width: 80rem;
  height: 100%;
}

.score {
  background-color: rgb(244, 169, 212);
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
}

h2 {
  text-align: center;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 5px;
  /*background-color: rgb(76, 215, 220);
  width: 100%;*/
  flex: 7;
  padding: 2%;
  /*box-sizing: border-box;*/
}

.shapes-cont {
  flex: 7;
  /*background-color: rgb(86, 71, 71);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

.shapes-cont div {
  padding: 3%;
}

.board div {
  width: 30px;
  height: 30px;
  background-color: rgb(205, 189, 166);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 11;
  height: 100%;
}

.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 231, 207);
  height: 39rem;
  width: 80rem;
}

.gameTitle {
  font-family: 'Nerko One', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
  color: aliceblue;
  text-shadow: 0 0 3px black, 0 0 6px pink, 2px 2px 8px pink, 4px 4px 10px pink,
    6px 6px 12px pink;
}

button {
  font-size: 3rem;
  background-color: rgb(230, 155, 185);
  border: 1px;
  border-radius: 5px;
}
a {
  margin: 1rem;
  font-family: 'Nerko One', cursive;
  text-decoration: none;
  color: rgb(43, 43, 43);
}
